.topbar {
  flex-grow: 1;
  text-align: center;
  border-bottom-style: solid;
  border-color: rgb(238, 234, 234);
  border-width: 1px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
