.content {
  flex: 1 1 auto;
  color: rgb(230, 230, 230);
  margin: 0px 10px;
  display: flex;
  flex-flow: column;
  height: 100%;

  .p-fieldset {
    height: 100%;
    border: none;
    border-radius: 10px;

    .p-toggleable-content {
      height: 100%;

      .p-fieldset-content {
        display: flex;
        flex-flow: column;
        height: 100%;
        padding: 5px;
      }
    }

    .p-fieldset-legend {
      border: none;
      border-radius: 10px;
    }

    .p-inputtext {
      width: 100%;
      border-radius: 10px;
      padding: 12px;
    }

    .method-details-container {
      display: flex;
      margin-top: 30px;
      height: 100%;
    }
  }
}
