.response-body {
  flex: auto;
  margin-left: 5px;

  .cm-theme-dark {
    height: 100%;

    .cm-editor {
      border-radius: 10px;
      height: 100%;
      font-size: medium;
      border: 1px solid rgba(230, 230, 230, 0.1);

      .cm-scroller {
        border-radius: 10px;

        .cm-gutters {
          background-color: rgb(18, 18, 18);

          .cm-activeLineGutter {
            background-color: transparent;
          }
        }

        .cm-content {
          background-color: rgb(18, 18, 18);

          .cm-activeLine {
            background-color: transparent;
          }
        }
      }
    }
  }
}
