.header {
  flex: 0 1 auto;

  .p-menubar {
    margin: 10px;
    border: none;
    border-radius: 10px;
    height: 5vh;

    .p-submenu-list {
      height: 400px;
      overflow-y: scroll;
    }
  }
}
