.request-editor-container {
  height: calc(100vh - 80px);
  width: calc(100vw - 270px);
  margin-right: 5px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .beautify {
      font-size: smaller;
      cursor: pointer;
    }
  }

  .request-editor {
    height: 100% !important;
    width: 100% !important;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(238, 234, 234);

    .ace_gutter {
      background-color: white;
    }
  }
}
