.sidebar {
  overflow: auto;
  width: 250px;
  border-right-style: solid;
  border-color: rgb(238, 234, 234);
  border-width: 1px;
  text-align: center;
  -webkit-box-shadow: inset -7px 0px 14px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: inset -7px 0px 14px 0px rgba(219, 219, 219, 1);
  box-shadow: inset -7px 0px 14px 0px rgba(219, 219, 219, 1);
  display: flex;
  flex-direction: column;

  .header {
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  ul {
    height: calc(100vh - 40px);
    border-color: rgb(238, 234, 234);
    width: 250px;
    background-color: transparent;

    .ant-menu-submenu {
      ul {
        height: 100%;
        overflow: auto;
      }
    }

    .ant-menu-submenu-title:hover {
      color: black;
    }

    .ant-menu-submenu-selected {
      color: black;
    }

    .ant-menu-submenu:hover {
      .ant-menu-submenu-title {
        .ant-menu-submenu-arrow {
          color: black;
        }
      }
    }

    .ant-menu-item {
      border-radius: 10px;
      width: 92%;
      margin-left: 10px;
    }

    .ant-menu-item::after {
      border: none !important;
    }

    .ant-menu-item:hover {
      color: inherit;
    }

    .ant-menu-item-selected {
      background-color: rgb(235, 235, 235) !important;
      border: none !important;
      color: inherit;
    }
  }
}
